@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-man{
  
  width: 22cm;
  height: 22cm;
}

.bg-contact {
  
  width: 22cm;
  height: 22cm;
}
.man{
  width: 14cm;
  margin-left: 2cm;
  bottom: -2cm;
}

.text-container {
  position: relative;
  display: inline-block;
}

.curved-line {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  border-radius: 20%;
  height: 40%; /* Adjust for how curved the line appears over the text */
  transform: translateY(-40%);
}

span {
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
